/* ---------------------------------------------------------------------------------------- */

.font{
    background-image: url('../Images/Fondo\ de\ lista\ de\ tareas\ 7.jpg');
    background-size: 112%;
    background-repeat: no-repeat;
  }
  
  /* --& Caja grande &-- */
  .boxmaster {
    display: flex;
    flex-direction: column;
  }
  
  /* ----------------------------------- */
  
  /* --& Titulo &-- */
  .title{
    background-image: url('../Images/Fondo\ de\ lista\ de\ tareas\ 11.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    color: black;
    border-radius: 5px;
    font: small-caps 100%/200% serif;
    text-decoration: underline;
  }
  
  /* ----------------------------------- */
  
  /* --& Parte superior &-- */
  .head{
    display: flex;
    justify-content: space-around;
  }
  .btn{
    background-image: url('../Images/Fondo\ para\ las\ tareas\ 3.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12px;
    margin-top: 15px;
    border-radius: 5px;
  }
  #barr{
    border:3px ridge black ;
    font-size: 25px;
    margin-left: 15px;
    border-radius: 5px;
    font: small-caps 100%/200% serif;
  }
  #barr:hover {
    cursor:pointer;
    color: mintcream;
  }
  #agrega{
    border:3px ridge black ;
    border-radius: 20% ;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #agrega:hover {
    cursor:pointer;
    color: rgba(0, 0, 0, 0.553);
  }
  .counter{
    background-image: url('../Images/Fondo\ para\ las\ tareas\ 5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    font: small-caps 100%/200% serif;
  }
  .counter2{
    background-image: url('../Images/Fondo\ para\ las\ tareas\ 5.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    font: small-caps 100%/200% serif;
  }
  .circle{
     display: flex;
    background-color: beige;
    border-radius: 100% ;
    margin-left: 30px;
    align-items: center;
    padding: 25px;
    height: 20px;
    border: 6px dashed gold;;
  }
  .circle2{
    display: flex;
    background-color: beige;
    border-radius: 100% ;
    margin-left: 30px;
    align-items: center;
    padding: 25px;
    height: 20px;
    border: 6px dashed gold;;
  }
  #tc{
    font-size: 23px;
    color: orangered;
  }
  #suma{
    font-size: 40px;
    color: black;
  }
  #tp{
    font-size: 23px;
    color: orangered;
  }
  #resta {
    font-size: 40px;
    color: black;
  }
  /* ----------------------------------- */
  
  /* --& Lista de tareas &-- */
  .task{
    background-image: url('../Images/Fondo\ de\ lista\ de\ tareas\ 5.jpg');
    background-size: 103%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: 30px 90px 90px 90px;
    border-radius: 5px;
    padding-top: 20px;
  }
  #ayuda{
  font-size: 15px;
  border-radius: 5px;
  font: small-caps 100%/200% serif;
  }
  .pendientes{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }
  #ContenedorTareas{
    color: black;
    text-indent: 20px;
    font: small-caps 150%/225% serif;
  }
  .sintareas {
    color: black;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font: small-caps 160%/230% serif;
  }
  
  /* ---------------------------------------------------------------------------------------- */