/* ---------------------------------------------------------------------------------------- */

.font{
    background-image: url('../Images/Fondo\ de\ lista\ de\ tareas\ \(Paisajes\)\ 8.jpg');
    background-size: 120%;
    background-repeat: no-repeat;
  }
  
  /* --& Caja grande &-- */
  .boxmaster {
    display: flex;
    flex-direction: column;
  }
  
  /* ----------------------------------- */
  
  /* --& Titulo &-- */
  .title{
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font: oblique bold 100% cursive;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: underline;
    color: #fff;
	
	text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  
  /* ----------------------------------- */
  
  /* --& Parte superior &-- */
  .head{
    display: flex;
    justify-content: space-around;
  }
  .btn{
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 12px;
    margin-top: 15px;
    border-radius: 5px;
  }
  #barr{
    border: 3px inset black ;
    font-size: 25px;
    margin-left: 15px;
    border-radius: 5px;
    font: oblique bold 100% cursive;
    text-shadow:
		0 0 5px rgb(255, 115,0,1),
		0 0 10px rgb(255, 115,0,1),
		0 0 20px rgb(255, 115,0,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  #barr:hover {
    cursor:pointer;
    color: mintcream;
  }
  #agrega{
    border: 3px inset black ;
    border-radius: 20% ;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow:
		0 0 5px rgb(255, 115,0,1),
		0 0 10px rgb(255, 115,0,1),
		0 0 20px rgb(255, 115,0,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  #agrega:hover {
    cursor:pointer;
    color: rgba(0, 0, 0, 0.553);
  }
  .counter{
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    font: oblique bold 100% cursive;
  }
  .counter2{
    border-radius: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    font: oblique bold 100% cursive;
  }
  .circle{
     display: flex;
    background-image: url('../Images/Fondo\ para\ las\ tareas\ 2.jpg');
    border-radius: 100% ;
    margin-left: 30px;
    align-items: center;
    padding: 25px;
    height: 20px;
    border: 6px inset ;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  .circle2{
    display: flex;
    background-image: url('../Images/Fondo\ para\ las\ tareas\ 2.jpg');
    border-radius: 100% ;
    margin-left: 30px;
    align-items: center;
    padding: 25px;
    height: 20px;
    border: 6px inset ;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  #tc{
    font-size: 23px;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  #suma{
    font-size: 40px;
    color: white;
  }
  #tp{
    font-size: 23px;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  #resta {
    font-size: 40px;
    color: white;
  }
  /* ----------------------------------- */
  
  /* --& Lista de tareas &-- */
  .task{
    background-color: rgba(255, 255, 255, 0.358);
    display: flex;
    flex-direction: column;
    margin: 30px 90px 90px 90px;
    border-radius: 5px;
  }
  #ayuda{
  font-size: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font: oblique bold 80% cursive;
  text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  .pendientes{
    margin-bottom: 15%;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }
  #ContenedorTareas{
    font-size: 22px;
    color: black;
    text-indent: 20px;
    font: oblique bold 120% cursive;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  .sintareas {
    color: black;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font: oblique bold 120% cursive;
    text-shadow:
		0 0 5px rgba(0,178,255,1),
		0 0 10px rgba(0,178,255,1),
		0 0 20px rgba(0,178,255,1),
		0 0 40px rgba(38,104,127,1),
		0 0 80px rgba(38,104,127,1),
		0 0 90px rgba(38,104,127,1),
		0 0 100px rgba(38,104,127,1),
		0 0 140px rgba(38,104,127,1),
		0 0 180px rgba(38,104,127,1);
  }
  
  /* ---------------------------------------------------------------------------------------- */